<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="WebRequirementsMetamodel.presentation.WebRequirementsMetamodelModelWizardID"
            name="%_UI_WebRequirementsMetamodelModelWizard_label"
            class="WebRequirementsMetamodel.presentation.WebRequirementsMetamodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WebRequirementsMetamodelModelFile.gif">
         <description>%_UI_WebRequirementsMetamodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="WebRequirementsMetamodel.presentation.WebRequirementsMetamodelEditorID"
            name="%_UI_WebRequirementsMetamodelEditor_label"
            icon="icons/full/obj16/WebRequirementsMetamodelModelFile.gif"
            extensions="webrequirementsmetamodel"
            class="WebRequirementsMetamodel.presentation.WebRequirementsMetamodelEditor"
            contributorClass="WebRequirementsMetamodel.presentation.WebRequirementsMetamodelActionBarContributor">
      </editor>
   </extension>

</plugin>
